<main class="index"> 
    <header>
        <section class="textos-header">
            <h1>Empieza con tu Voluntad</h1>
            <h2>Con tu ayuda puedes ser parte de la solución.</h2>
        </section>
        <div>
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
<defs>
<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
</defs>
<g class="parallax">
<use xlink:href="#gentle-wave" x="48" y="0" fill="rgb(255,255,255,0.7)" />
<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
</g>
</svg>
</div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Nuestra meta es</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>INFLUIR</h3>
                    <p>En la cultura, para la reflexión de contribuir en el buen manejo de los elementos reciclables.</p>
                    <h3><span>2</span>CONTRIBUIR</h3>
                    <p>Con la organización de materiales reciclables, para tener un orden en los residuos de la población.</p>
                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
                <h2 class="titulo">Presiona para ver la clasificación de materiales que puedes RECICLAR</h2>
                <div class="galeria-port">
                    <div class="imagen-port" data-toggle="modal" data-target="#exampleModalCenter">
                        <img src="img/metales.jpg" alt="">
                        <div class="hover-galeria">
                            <p>Metales</p>
                        </div>
                    </div>
                    <div class="imagen-port"  data-toggle="modal" data-target="#exampleModalCenter1">
                        <img src="img/reciclarPlastico.jpg" alt="">
                        <div class="hover-galeria">
                            <p>Plásticos</p>
                        </div>
                    </div>
                    <div class="imagen-port"  data-toggle="modal" data-target="#exampleModalCenter2">
                        <img src="img/papel.jpg" alt="">
                        <div class="hover-galeria">
                            <p>Papel</p>
                        </div>
                    </div>
                    <div class="imagen-port" data-toggle="modal" data-target="#exampleModalCenter3">
                        <img src="img/tecnologicos.jpg" alt="">
                        <div class="hover-galeria">
                            <p>Electronicos</p>
                        </div>
                    </div>
                    
                    <div class="imagen-port" data-toggle="modal" data-target="#exampleModalCenter4">
                        <img src="img/otros.jpg" alt="">
                        <div class="hover-galeria">
                            <p>Otros Importantes</p>
                        </div>
                    </div>
                    
                    <div class="imagen-port" data-toggle="modal" data-target="#exampleModalCenter5">
                        <img src="img/no.png" alt="">
                        <div class="hover-galeria">
                            <p>Materiales no Reciclables</p>
                        </div>
                    </div>
                    
                    <!-- Modal Metales 
                    <div class="imagen-port">
                        <img src="img/img7.jpg" alt="">
                        <div class="hover-galeria">
                            <p>Llantas</p>
                        </div>
                    </div>
                    <div class="imagen-port">
                        <img src="img/img8.jpg" alt="">
                        <div class="hover-galeria">
                            <p>Aluminio</p>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </section>
<!-- Modal Metales -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #1a4d99;color:#fff;">
        <h5 class="modal-title" id="exampleModalLongTitle">
            Metales Reciclables</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"  style="color:#fff;">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <ul class="list-group">
                <li class="list-group-item">Acero</li>
                <li class="list-group-item">Aluminio</li>
                <li class="list-group-item">Cobre</li>
                <li class="list-group-item">Bronce</li>
                <li class="list-group-item">latón</li>
                <li class="list-group-item">Perfil</li>
                <li class="list-group-item">Plomo</li>
            </ul>
      </div>
    </div>
  </div>
</div>

<!-- Modal Plastcos -->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header"  style="background-color: #1a4d99;color:#fff;">
        <h5 class="modal-title" id="exampleModalLongTitle">Plásticos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color:#fff;">&times;</span>
        </button>
      </div>
      <div class="modal-body">
              <p class="elemtosNota">Lo más limpios posible. Sin restos orgánicos.</p>
                 
            <ul class="list-group">
                <li class="list-group-item">Botellas</li>
                <li class="list-group-item">Tapas</li>
                <li class="list-group-item">Empaques plásticos de productos<p class="elemtosNota">Puedes Llenar una botella con empaques(ECO-LADRILLO)</p></li>
            </ul>
           
          
      </div>
    </div>
  </div>
</div>

<!-- Modal papel -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #1a4d99;color:#fff;">
        <h5 class="modal-title" id="exampleModalLongTitle">Papel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color:#fff;">&times;</span>
        </button>
      </div>
      <div class="modal-body">
             <p class="elemtosNota"><strong>(Nada de impurezas)</strong> Como líquidos</p>
            <ul class="list-group">
                <li class="list-group-item">Cuadernos, libretas, Papel archivo</li>
                <li class="list-group-item">Cartón, cartulina, cajas, papel aluminio</li>
                <li class="list-group-item">Periódicos, revistas</li>
                
            </ul>
          
      </div>
    </div>
  </div>
</div>

<!-- Modal Electronicos -->
<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #1a4d99;color:#fff;">
        <h5 class="modal-title" id="exampleModalLongTitle">Electronicos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color:#fff;">&times;</span>
        </button>
      </div>
      <div class="modal-body">
             <p class="elemtosNota">La mayoría de las veces, contienen compuestos peligrosos y nocivos.
                    Estos elementos aún pueden reutilizarse o incluso reciclarse para obtener algo bueno.</p>
           
            <ul class="list-group">
                <li class="list-group-item">Pilas, Baterías, cargadores.</li>
                <li class="list-group-item">Celulares</li>
                <li class="list-group-item">Componentes Tecnológicos</li>
            </ul>
      </div>
    </div>
  </div>
</div>

<!-- Modal otros -->
<div class="modal fade" id="exampleModalCenter4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #1a4d99;color:#fff;">
        <h5 class="modal-title" id="exampleModalLongTitle">Materiales reciclables</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color:#fff;">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p class="elemtos"><strong>Otros Elementos muy Importantes</strong></p>
            <ul class="list-group">
                <li class="list-group-item">Aceite Usado</li>
                <li class="list-group-item">Llantas.</li>
                <li class="list-group-item">Vidrio</li>
            </ul>
      </div>
    </div>
  </div>
</div>

<!-- Modal No Reciclables -->
<div class="modal fade" id="exampleModalCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #810000;color:#fff;">
        <h5 class="modal-title" id="exampleModalLongTitle">Materiales NO reciclables (NO RECIBIMOS)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color:#fff;">&times;</span>
        </button>
      </div>
      <div class="modal-body">
             <p class="elemtosNota">Los corporativos nos han convencido de que el plástico no es el peor enemigo del medio ambiente siempre y cuando se recicle. Sin embargo, varias marcas reconocidas venden productos en masa cuyo embalaje en realidad es imposibles de reciclar. <br><br>Esto es así porque cuando el plástico está mezclado con otros materiales (como metales, pegamentos o colorantes) no siempre puede reutilizarse, a veces ni siquiera a través de un proceso químico. <br><br>Sin embargo, las corporaciones prefieren envases con estas características para destacar de otros productos, es decir: ponen criterios de mercadotecnia por encima de la capacidad de reciclarse del material. </p>
           
            <ul class="list-group">
                <li class="list-group-item">Tubos de pasta dental </li>
                <li class="list-group-item"> Encendedor desechable.</li>
                <li class="list-group-item">Papel de fax y papel de calco</li>
                <li class="list-group-item">Celofán (utilizado como papel de regalo, ramos, cintas adhesivas, etc)</li>
                <li class="list-group-item">Servilletas y papel de cocina(Sirven para Compost)</li>
                <li class="list-group-item">Vasos, platos usados</li>

                <li class="list-group-item">Papel de fotos, Etiquetas autoadhesivas</li>
                <li class="list-group-item">Bombillas, Lámparas</li>
                <li class="list-group-item">Cristales planos (de ventana por ejemplo), Espejos, Gafas de ver y de sol</li>
                <li class="list-group-item">Tazas, macetas y otros objetos de cerámica</li>
                <li class="list-group-item">Telas impregnadas con contaminantes como pintura, combustible, etc.</li>
                <li class="list-group-item">Icopor</li>
            </ul>
      </div>
    </div>
  </div>
</div>
<section class="clientes contenedor">
            <h2 class="titulo">Frases celebres</h2>
            <div class="cards">
                <div class="card">
                    <img src="img/victor-hugo.jpg" alt="">
                    <div class="contenido-texto-card">
                        <p>"Produce una inmensa tristesa pensar que la naturaleza habla mientras el genero humano no la escucha"</p>
                        <h4 class="Personaje">Victor Hugo</h4>
                    </div>
                </div>
                <div class="card">
                    <img src="img/albert.jpg" alt="">
                    <div class="contenido-texto-card">
                        <p>"El mundo es un lugar peligroso, no a causa de los que hacen el mal sino por aquellos que no hacen nada para evitarlo"</p>
                         <h4 class="Personaje">Albert Eisten</h4>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">3 Pasos para la Apoyar la Cultura Renobas</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="img/reciclar.svg" alt="">
                         <h3>Tu</h3>
                        <p>Tienes la tarea de recolectar todos los materiales reciclables que tengas a tu facilidad.</p>
                       
                    </div>
                    <div class="servicio-ind">
                        <img src="img/cel.svg" alt="">
                        <h3>Te unes con</h3>
                        <p>La tecnologia para comunicarnos, cuando tengas la oportunidad de darnos los materiales reciclbles.</p>
                        
                    </div>
                    <div class="servicio-ind">
                        <img src="img/grupo.svg" alt="">
                        <h3>Nosotros</h3>
                        <p>Vamos por esos materiales cada que tu los tengas y asi creamos una cultura Sostenible.</p>
                    </div>
                </div>
            </div>
        </section>

              <div class="modal fade" id="exampleModalCenterContact" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header"  style="background-color: #1a4d99;color:#fff;">
                      <h5 class="modal-title" id="exampleModalLongTitle">Comunícate con Nosotros</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color:#fff;">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      
                        <form id="form1" class="login2" action="mailto:cultura@renobas.com?subject=INFORMACIÓN SOLICITADA" method="post" enctype="text/plain">
                              <div id="alertSI" class="alert alert-success alert-dismissible fade show" role="alert">Valídelo en su correo para comunicarse con nosotros.</div>
                              <div id="alertNO" class="alert alert-danger" role="alert">Complete los datos para enviarlo.</div>
                              <div id="TelMalo" class="alert alert-danger alert-dismissible fade show" role="alert">Revisa tu TELEFONO.</div>
                              
                              <div class="input-container name">
                                
                                <input id="nombre" type="text" name="Nombre" placeholder="Escribe tu Nombre">
                              </div>

                              <div class="input-container email">
                                
                                <input id="correo" type="text" name="Mail" placeholder="Escribe tu Correo">
                              </div>

                              <div class="input-container phone">
                                
                                <input id="telefono" type="text" name="Telefono" placeholder="Escribe tu Teléfono">
                              </div>
                              <label>Mensaje</label>
                              <div class="input-container tipo">
                                 <select id="tipo" class="barrio" name="tipo">
                                    <option hidden selected value="" >Selecciona el tipo de mensaje</option>
                                      <option>Petición</option>
                                      <option>Queja</option>
                                      <option>Reclamos</option>
                                      <option>Sugerencias</option>
                                      <option>Felicitaciones</option>
                                      <option>Pregunta</option>
                                  </select>
                                
                              </div>

                             <div class="input-group ContactoMensaje">
                                      <textarea id="mensaje" name="Comentario" type="text" class="form-control" aria-label="With textarea"></textarea>
                                       <div class="input-group-prepend">
                                      <span class="input-group-text">Cuéntanos</span>
                                    </div>
                              </div>
                            <div>
                                  <button type="submit" value="Send" class="btn btn-primary">Enviar</button>
                                  <button type="reset" value="Reset" class="btn btn-secondary">Eliminar</button>
                            </div>
                          </form>
                            
                    </div>
                  </div>
                </div>
              </div>


    </main>
    <div class="containeRedes">
        <input type="checkbox" id="btn-mas">
        <div class="redes">
            <a href="https://wa.link/ryiryy" target="_blank" class="fab fa-whatsapp" title="WhatsApp"></a>
            <a href="#" class="fa fa-envelope" data-toggle="modal" data-target="#exampleModalCenterContact" title="Escríbenos"></a>
            <a href="https://twitter.com/Cultura_Renobas" target="_blank" class="fab fa-twitter" title="Twitter"></a>
            <a href="https://instagram.com/cultura_renobas?igshid=1dxj43gigp252" target="_blank" class="fab fa-instagram" title="Instagram"></a>
        </div>
        <div class="btn-mas">
            <label for="btn-mas" class="fa fa-plus"></label>
        </div>
    </div>

    <footer>
       
       <div class="container-footer-all">
        
            <div class="container-body">
                <div class="colum1">
                  <h1>Mas información Sobre Nosotros</h1>
                    <p>Somos un emprendimiento el cual se preocupa por la recuperación del planeta, haciendo uso del reciclaje y así aprovechando los materiales que las personas tienen en sus hogares, de igual forma aprovechamos la maravillosa herramienta llamada tecnología que están tocando nuestras manos. Y con ella también se puede cambiar el mundo.</p>
                </div>
                <div class="colum2">
                   <img src="img/logoS.png" >
                </div>
            </div>
        </div>
        <div class="container-footer">
               <div class="footer">
                    <div class="copyright">
                        © 2021 Todos los Derechos Reservados | <a href="">Renobas</a>
                    </div>
                    <!-- Informacion 
                    <div class="information">
                        <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos y Condiciones</a>
                    </div>
                    -->
                </div>
            </div>
            
    </footer>
    
</main>
<script>
    $(document).ready(function() {        
      $("#alertSI").hide();
      $("#alertNO").hide();
      $("#TelMalo").hide();
       $("#form1").submit(function(e){
        user = $.trim($("#nombre").val());
        pass = $.trim($("#correo").val());
        tel =  $.trim($("#telefono").val());
        tipo =  $.trim($("#tipo").val());
        mes =  $.trim($("#mensaje").val());
        if(user.length > 0 && pass.length > 0 && tel.length > 0 && tipo.length > 0 && mes.length > 0){
          if(tel.length>10 || tel.length<7){
             $("#TelMalo").fadeTo(2000, 500).slideUp(500, function() {
             $("#TelMalo").slideUp(500);
          });
          return false;
          }else{          
            $("#alertSI").fadeTo(2000, 1000).slideUp(500, function() {
            $("#alertSI").slideUp(1000);
            location.reload();
            });     
            return true;
          }    
        }else{
          $("#alertNO").fadeTo(2000, 500).slideUp(500, function() {
             $("#alertNO").slideUp(500);
          });
          return false;
        }
        });   
      });
       
</script>

