<!-- Vista Principal -->
<main class="index">
  <header>
    <section class="textos-header">
      <h1>Protege al mundo</h1>
      <h2>desde la comodidad de tu casa con <strong>Nosotros</strong></h2>
    </section>
    <!-- Olas -->
    <div>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
          <use xlink:hreff="#gentle-wave" x="48" y="0" fill="rgb(255,255,255,0.7)" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
    </div>
  </header>
  <main>
    <section class="contenedor sobre-nosotros">
      <h2 class="titulo">¿Sabes cuántos desechos aprovechables pueden ser reciclados?</h2>
      <div class="contenedor-sobre-nosotros">
        <img src="" alt="" class="imagen-about-us">
        <div class="contenido-textos">
           <p>El <strong>78%</strong> de los hogares en Colombia <strong>No recicla.</strong> </p>
          <p> Con Renobas las personas pueden reciclar en la comodidad de su casa, Renobas le brindara 
            las <strong>herramientas</strong> para facilitar y poder cambiar la cultura colombiana de que no todo lo que no sirve es basura.</p>
          <p>Renobas llegara a la puerta de la vivienda por el <strong>Reciclaje</strong> que las personas registran en la página web, 
            recoge la lona que Renobas les facilita llena de reciclaje. Y así podremos aprovechar esos elementos.</p>
        </div>
      </div>
    </section>
    <!--
    <section class="contenedor sobre-nosotros">
      <h2 class="titulo">Nuestra meta es</h2>
      <div class="contenedor-sobre-nosotros">
        <img src="" alt="" class="imagen-about-us">
        <div class="contenido-textos">
          <h3><span>1</span>INFLUIR</h3>
          <p>En la cultura, para la reflexión de contribuir en el buen manejo de los elementos reciclables.</p>
          <h3><span>2</span>CONTRIBUIR</h3>
          <p>Con la organización de materiales reciclables, para tener un orden en los residuos de la población.</p>
        </div>
      </div>
    </section>
    -->
    <section class="portafolio">
      <!--
      <div class="contenedor">
        <h2 class="titulo">Presiona para ver la clasificación de materiales que puedes RECICLAR</h2>
        <div class="galeria-port">
          <div class="imagen-port" data-toggle="modal" data-target="#exampleModalCenter">
            <img src="img/metales.jpg" alt="">
            <div class="hover-galeria">
              <p>Metales</p>
            </div>
          </div>
          <div class="imagen-port" data-toggle="modal" data-target="#exampleModalCenter1">
            <img src="img/reciclarPlastico.jpg" alt="">
            <div class="hover-galeria">
              <p>Plásticos</p>
            </div>
          </div>
          <div class="imagen-port" data-toggle="modal" data-target="#exampleModalCenter2">
            <img src="img/papel.jpg" alt="">
            <div class="hover-galeria">
              <p>Papel</p>
            </div>
          </div>
          <div class="imagen-port" data-toggle="modal" data-target="#exampleModalCenter3">
            <img src="img/tecnologicos.jpg" alt="">
            <div class="hover-galeria">
              <p>Electrónicos</p>
            </div>
          </div>
          
          <div class="imagen-port" data-toggle="modal" data-target="#exampleModalCenter4">
            <img src="img/otros.jpg" alt="">
            <div class="hover-galeria">
              <p>Otros Importantes</p>
            </div>
          </div>

          <div class="imagen-port" data-toggle="modal" data-target="#exampleModalCenter5">
            <img src="img/no.png" alt="">
            <div class="hover-galeria">
              <p>Materiales no Reciclables</p>
            </div>
          </div>
          <div class="imagen-port" data-toggle="modal" data-target="#exampleModalCenterEv">
            <img src="img/reco.png" alt="">
            <div class="hover-galeria">
              <p>Recolectas Asistidas</p>
            </div>
          </div>
        </div>
      </div>
      -->
      <br>
      <h2 class="titulo">Guía para realizar una recolecta</h2>
      <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xOFxYYAC7T0" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <br>
      <br>
    </section>
    <section>
     <div class="contenedor2">
        <div class="slider-contenedor2">
            <section class="contenido-slider2">
                <div class="ContenidoSliders">
                  <h1 class="titulosSliders" style="text-align: center;">Metales</h1>
                  <div class="sliderleft">
                      <ul>
                        <h2><li>Acero</li></h2>
                        <h2><li>Aluminio</li></h2>
                        <h2><li>Cobre</li></h2>
                        <h2><li>Bronce</li></h2>
                      </ul>

                  </div>
                  <div class="slideright">
                    <ul>
                        <h2><li>Latón</li></h2>
                        <h2><li>Perfil</li></h2>
                        <h2><li>Plomo</li></h2>
                        <h2><li>Bronce</li></h2>
                      </ul>
                  </div>
                   <a class="empieza" href="#" data-toggle="modal" data-target="#exampleModalCenter">Más</a>
                   
                </div>
                <img src="img/meta.png" alt="" >

            </section>
            
            <section class="contenido-slider2">
                <div class="ContenidoSliders">
                  <h1 class="titulosSliders" style="text-align: center;">Plástico</h1>
                  <div class="sliderleft">
                      <ul>
                        <h2><li>Botellas</li></h2>
                        <h2><li>Tapas</li></h2>

                  </div>
                  <div class="slideright">
                    <ul>
                        <h2><li>Eco-ladrillos</li></h2>
                         <h2><li>Vasos Yogurt</li></h2>
                      </ul>
                  </div>
                   <a  class="empieza" href="#" data-toggle="modal" data-target="#exampleModalCenter1">Más</a>
                   
                </div>
                <img src="img/pl.png" alt="">

            </section>
        <section class="contenido-slider2">
             <div class="ContenidoSliders">
                  <h1 class="titulosSliders" style="text-align: center;">Papel</h1>
                  <div class="sliderleft">
                      <ul>
                        <h2><li>Cuadernos</li></h2>
                        <h2><li>Libretas</li></h2>
                        <h2><li>Papel archivo</li></h2>
                        <h2><li>Periódicos</li></h2>

                  </div>
                  <div class="slideright">
                    <ul>
                        <h2><li>Cartón</li></h2>
                        <h2><li>Cartulina</li></h2>
                        <h2><li>Cajas</li></h2>
                        <h2><li>Revistas</li></h2>
                      </ul>
                  </div>
                  <a  class="empieza" href="#" data-toggle="modal" data-target="#exampleModalCenter2">Más</a>
                   
                </div>
            <img src="img/pape.png" alt="">

        </section>
        <section class="contenido-slider2">
             <div class="ContenidoSliders">
                  <h1 class="titulosSliders" style="text-align: center;">Electrónicos</h1>
                  <div class="sliderleft">
                      <ul>
                        <h2><li>Pilas</li></h2>
                        <h2><li>baterias</li></h2>
                        <h2><li>Cargadores</li></h2>
                  </div>
                  <div class="slideright">
                    <ul>
                        <h2><li>Celulares</li></h2>
                        <h2><li>Componentes Tecnológicos</li></h2>
                      </ul>
                  </div>
                   <a  class="empieza" href="#" data-toggle="modal" data-target="#exampleModalCenter3">Más</a>
                   
                </div>
            <img src="img/electro.png" alt="">

        </section>
        <section class="contenido-slider2">
             <div class="ContenidoSliders">
                  <h1 class="titulosSliders" style="text-align: center; color:red">No reciclables</h1>
                  <div class="sliderleft">
                      <ul>
                        <h2><li>Cerámica</li></h2>
                        <h2><li>Celofán</li></h2>
                        <h2><li>Vasos</li></h2>
                        <h2><li>Platos usados</li></h2>
                  </div>
                  <div class="slideright">
                    <ul>
                        <h2><li>Bombillas</li></h2>
                        <h2><li>Cristal</li></h2>
                        <h2><li>Icopor</li></h2>
                      </ul>
                  </div>
                   <a  class="empieza" href="#" data-toggle="modal" data-target="#exampleModalCenter5">Más</a>
                   
                </div>
            <img src="img/no.svg" alt="">

        </section>
        <section class="contenido-slider2">
                <div class="ContenidoSliders">
                  <h1 class="titulosSliders" style="text-align: center;">Metales</h1>
                  <div class="sliderleft">
                      <ul>
                        <h2><li>Acero</li></h2>
                        <h2><li>Aluminio</li></h2>
                        <h2><li>Cobre</li></h2>
                        <h2><li>Bronce</li></h2>
                      </ul>

                  </div>
                  <div class="slideright">
                    <ul>
                        <h2><li>Latón</li></h2>
                        <h2><li>Perfil</li></h2>
                        <h2><li>Plomo</li></h2>
                        <h2><li>Bronce</li></h2>
                      </ul>
                  </div>
                  <a  class="empieza" href="#">Más</a>
                   
                </div>
                <img src="img/meta.png" alt="">

            </section>
    </div>
    </section>
    
    <!-- Modal Metales -->
    <div class="modal fade letraModal " id="exampleModalCenter" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #1a4d99;color:#fff;">
            <h5 class="modal-title" id="exampleModalLongTitle">
              Metales</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="x" style="color:#fff;">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Los metales tienen innumerables propiedades que permiten que, a través de su reciclado, 
              se puedan lograr excelentes beneficios medioambientales, económicos y sociales. 
              Reciclarlos es una actividad sencilla y capaz de proporcionar un importante ahorro de materias primas vírgenes.</p>
              <p>También se puede reciclar el aluminio. Las latas de bebidas son los objetos más comunes con este material que son llevados a reciclar.</p>
              <p>La importancia de reciclar metales radica, sobre todo, en la cantidad de ahorro de energía y 
                agua que implicaría trabajarlos desde su origen. Así, por ejemplo, la producción de aluminio a 
                partir de la chatarra supone un 95% de ahorro de energía y en el proceso de reciclado el metal 
                conserva todas sus propiedades y características.</p>
                <p>Además, el aluminio puede reciclarse un número ilimitado de veces. 
                  Y como es un material extremadamente ligero, 
                  con una excelente resistencia a la corrosión, algo importante en productos que 
                  requieren protección y conservación; una buena conductividad de la electricidad y el calor; 
                  sin magnetismo ni toxicidad; con propiedades reflectoras de luz, impermeable y fácilmente deformable, 
                  su importancia de reciclado es aún mayor.</p>
                  <strong><p class="elemtosNota">Beneficios</p></strong>
                  <ul class="list-group">
                    <li class="list-group-item">Mejoramos la calidad del aire al reducir su contaminación.</li>
                    <li class="list-group-item">Disminuimos las emisiones de gases de efecto invernadero.</li>
                    <li class="list-group-item">Generamos un descenso de los residuos destinados a incineración.</li>
                    <li class="list-group-item">Contribuimos a que se reduzcan los residuos de chatarra que acaban en vertederos.</li>
                    </li>
                  </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Plastcos -->
    <div class="modal fade letraModal" id="exampleModalCenter1" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #1a4d99;color:#fff;">
            <h5 class="modal-title" id="exampleModalLongTitle">Plástico</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="x" style="color:#fff;">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <p>Este material supone toda una amenaza para los ecosistemas, 
                sobre todo para la vida marina.  Es en los mares y océanos donde se 
                depositan el grueso de este tipo de residuos que, en ocasiones, quedan 
                depositados en el fondo marino en forma de microplásticos.</p>
                <p>El plástico, presente en numerosos productos, está compuesto por 
                  polímeros de resinas y sustancias que provienen del petróleo que se moldean a 
                  partir de la presión y el calor.</p>
                  <p class="elemtosNota">Tipos</p>
                    <ul class="list-group">
                      <li class="list-group-item">Polietileno (PE).</li>
                      <li class="list-group-item">Polyester (PET).</li>
                      <li class="list-group-item">Polipropileno (PP).</p>
                      <li class="list-group-item">Cloruro de polivinilo (PVC).</p>
                      </li>
                    </ul>
                    <br>
                    <!--
                    <a href="https://www.bbva.com/es/sostenibilidad/como-se-recicla-el-plastico-y-cual-es-su-objetivo/" target="_blank"><p class="elemtosNota">¿Como se recicla el plastico?</p></a>
                  -->

          </div>
        </div>
      </div>
    </div>

    <!-- Modal papel -->
    <div class="modal fade letraModal" id="exampleModalCenter2" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #1a4d99;color:#fff;">
            <h5 class="modal-title" id="exampleModalLongTitle">Papel</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="x" style="color:#fff;">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>El papel que se recicla puede ser el papel molido, que son los recortes y trozos de papel sobrantes en la manufactura del papel.</p>
            <p>Cuando se recicla el papel, en realidad lo que se está reutilizando es la celulosa, 
              la parte de su producción que proviene de los árboles. Pero si la celulosa está dañada o el papel o 
              cartón contienen otros elementos, como suciedad que no se puede quitar, plastificaciones, encerados o parafina, 
              no se puede reciclar. Así, existen dos grupos de papeles para el reciclaje:</p>
            <p class="elemtosNota"><strong>Papeles que Si se reciclan</strong></p>
            <p class="elemtosNota"><strong>Papeles que No se reciclan: </strong></p>
            <p>Papel encerado o parafinado, etiquetas adhesivas, papel higiénico-sanitario, 
              papel alimentación, papel o cartón manchados de grasa, papel térmico de fax, papel fotográfico, 
              tetrabricks, bolsas de plástico, papeles engomados, papeles de regalo, papeles pegados.</p>
            <br>
            <!--
            <a href="https://www.bbva.com/es/sostenibilidad/como-se-recicla-el-plastico-y-cual-es-su-objetivo/" target="_blank"><p class="elemtosNota">¿Como se recicla el Papel?</p></a>
              -->
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Electronicos -->
    <div class="modal fade letraModal" id="exampleModalCenter3" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #1a4d99;color:#fff;">
            <h5 class="modal-title" id="exampleModalLongTitle">Electrónicos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="x" style="color:#fff;">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="elemtosNota">La mayoría de las veces, contienen compuestos peligrosos y nocivos.
              Estos elementos aún pueden reutilizarse o incluso reciclarse para obtener algo bueno.</p>
            <p>Determinar si realmente es un desecho o puede ser donado</p>

            <a href="https://www.instagram.com/p/COeiyFEt6ol/?utm_medium=copy_link" target="_blank"><p class="elemtosNota">La tecnología también se recicla</p></a>


            
          </div>
        </div>
      </div>
    </div>

    <!-- Modal otros -->
    <div class="modal fade letraModal" id="exampleModalCenter4" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #1a4d99;color:#fff;">
            <h5 class="modal-title" id="exampleModalLongTitle">Materiales reciclables</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="x" style="color:#fff;">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="elemtos"><strong>Otros Elementos muy Importantes</strong></p>
            <ul class="list-group">
              <li class="list-group-item">Aceite Usado</li>
              <li class="list-group-item">Llantas.</li>
              <li class="list-group-item">Vidrio</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal No Reciclables -->
    <div class="modal fade letraModal" id="exampleModalCenter5" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #810000;color:#fff;">
            <h5 class="modal-title" id="exampleModalLongTitle">Materiales NO reciclables (NO RECIBIMOS)</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="x" style="color:#fff;">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="elemtosNota">Los corporativos nos han convencido de que el plástico no es el peor enemigo del
              medio ambiente siempre y cuando se recicle. Sin embargo, varias marcas reconocidas venden productos en
              masa cuyo embalaje en realidad es imposibles de reciclar. <br><br>Esto es así porque cuando el plástico
              está mezclado con otros materiales (como metales, pegamentos o colorantes) no siempre puede reutilizarse,
              a veces ni siquiera a través de un proceso químico. <br><br>Sin embargo, las corporaciones prefieren
              envases con estas características para destacar de otros productos, es decir: ponen criterios de
              mercadotecnia por encima de la capacidad de reciclarse del material. </p>

            <ul class="list-group">
              <li class="list-group-item">Tubos de pasta dental </li>
              <li class="list-group-item"> Encendedor desechable.</li>
              <li class="list-group-item">Papel de fax y papel de calco</li>
              <li class="list-group-item">Celofán (utilizado como papel de regalo, ramos, cintas adhesivas, etc)</li>
              <li class="list-group-item">Servilletas y papel de cocina(Sirven para Compost)</li>
              <li class="list-group-item">Vasos, platos usados</li>

              <li class="list-group-item">Papel de fotos, Etiquetas autoadhesivas</li>
              <li class="list-group-item">Bombillas, Lámparas</li>
              <li class="list-group-item">Cristales planos (de ventana por ejemplo), Espejos, Gafas de ver y de sol</li>
              <li class="list-group-item">Tazas, macetas y otros objetos de cerámica</li>
              <li class="list-group-item">Telas impregnadas con contaminantes como pintura, combustible, etc.</li>
              <li class="list-group-item">Icopor</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <section class="clientes contenedor">
      <h2 class="titulo">Frases celebres</h2>
      <div class="cards">
        <div class="card">
          <img src="img/victor-hugo.jpg" alt="">
          <div class="contenido-texto-card">
            <p>"Produce una inmensa tristesa pensar que la naturaleza habla mientras el genero humano no la escucha"</p>
            <h4 class="Personaje">Victor Hugo</h4>
          </div>
        </div>
        <div class="card">
          <img src="img/albert.jpg" alt="">
          <div class="contenido-texto-card">
            <p>"El mundo es un lugar peligroso, no a causa de los que hacen el mal sino por aquellos que no hacen nada
              para evitarlo"</p>
            <h4 class="Personaje">Albert Eisten</h4>
          </div>
        </div>
      </div>
    </section>
    <section class="about-services">
      <div class="contenedor">
        <h2 class="titulo">3 Pasos para colaborar con Renobas</h2>
        <div class="servicio-cont">
          <div class="servicio-ind">
            <img src="img/cel.svg" alt="">
            <h3>Tu</h3>
            <p>Tienes la tarea de recolectar todos los materiales reciclables que tengas a tu facilidad.</p>

          </div>
          <div class="servicio-ind">
            <img src="img/reciclar.svg" alt="">
            <h3>Te unes con</h3>
            <p>La tecnología para comunicarnos, cuando tengas la oportunidad de darnos los materiales reciclables.</p>

          </div>
          <div class="servicio-ind">
            <img src="img/juntos.svg" alt="">
            <h3>Nosotros</h3>
            <p>Vamos por esos materiales cada que tú los tengas y así creamos una cultura Sostenible.</p>
          </div>
        </div>
      </div>
    </section>
<!-- Modal Metales 
    <section class="contenedor sobre-nosotros">
      <div class="contenedor-sobre-nosotros">
        <img class="targeta" src="img/targe.svg">
        <div class="contenido-textos">
          <p>Si llegaste a esta página mediante esta propaganda, compártela con otra persona para que hagamos el cambio
            en el tema ambiental de nuestra ciudad y del mundo. Con muchos podremos ver cambios en el futuro.</p>
          <p><span>♲</span>Después de tu primera recolecta se te facilitará una lona para que selecciones los productos
            reciclables y sigas cambiando la forma de desechar tus elementos con <strong>Renobas</strong>.</p>
        </div>
      </div>
    </section>
-->
    <!-- Modal Metales 
              <div class="modal fade" id="exampleModalCenterContact" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header"  style="background-color: #1a4d99;color:#fff;">
                      <h5 class="modal-title" id="exampleModalLongTitle">Comunícate con Nosotros</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="x" style="color:#fff;">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      
                        
                        <form id="form1" class="login2" action="mailto:cultura@renobas.com?subject=INFORMACIÓN SOLICITADA" method="post" enctype="text/plain">
                              <div id="alertSI" class="alert alert-primary alert-dismissible fade show noticia" role="alert">Valídelo en su correo para comunicarse con nosotros. Te responderemos en un lapso de tiempo de (8) días, puedes adjuntar archivos.</div>
                              <div id="alertNO" class="alert alert-danger alert-dismissible fade show noticia" role="alert">Complete los datos para enviarlo.</div>
                              <div id="TelMalo" class="alert alert-danger alert-dismissible fade show noticia" role="alert">Revisa tu teléfono.</div>
                              
                              <div class="input-container name">
                                
                                <input id="nombre" type="text" name="Nombre" placeholder="Escribe tu Nombre">
                              </div>

                              <div class="input-container email">
                                
                                <input id="correo" type="text" name="Mail" placeholder="Escribe tu Correo">
                              </div>

                              <div class="input-container phone">
                                
                                <input id="telefono" type="text" name="Telefono" placeholder="Escribe tu Teléfono">
                              </div>
                              <div class="input-container tipo">
                                 <select id="tipo" class="barrio" name="tipo">
                                    <option hidden selected value="" >Selecciona el tipo de mensaje</option>
                                      <option>Petición</option>
                                      <option>Queja</option>
                                      <option>Reclamos</option>
                                      <option>Sugerencias</option>
                                      <option>Felicitaciones</option>
                                      <option>Pregunta</option>
                                  </select>
                                
                              </div>

                             <div class="input-group ContactoMensaje">
                                      <textarea id="mensaje" name="Comentario" type="text" class="form-control escritos" aria-label="With textarea"></textarea>
                                       <div class="input-group-prepend">
                                      <span class="input-group-text cuentanos">Cuéntanos</span>
                                    </div>
                              </div>
                            <div>
                                  <button type="submit" value="Send" class="btn btn-primary empieza">Enviar</button>
                                  <button type="reset" value="Reset" class="btn btn-secondary empieza">Eliminar</button>
                            </div>
                      </form>
                            
                    </div>
                  </div>
                </div>
              </div>
            -->
  </main>
  <div class="containeRedes">
    <input type="checkbox" id="btn-mas">
    <div class="redes btn-mas">
      <a href="https://wa.link/ryiryy" target="_blank" class="fab fa-whatsapp" title="WhatsApp"></a>
      <a href="mailto:cultura@renobas.com?subject=INFORMACIÓN SOLICITADA" class="fa fa-envelope" title="Email"></a>
      <a href="https://www.facebook.com/Renobas-105962261737286/" class="fab fa-facebook-f" target="_blank"
        title="Facebook"></a>
            <!--
              <a href="#" class="fa fa-envelope" data-toggle="modal" data-target="#exampleModalCenterContact" title="Escríbenos"></a>
             -->
      <a href="https://twitter.com/Cultura_Renobas" target="_blank" class="fab fa-twitter" title="Twitter"></a>
      <a href="https://instagram.com/cultura_renobas?igshid=1dxj43gigp252" target="_blank" class="fab fa-instagram"
        title="Instagram"></a>
    </div>
    <div class="btn-mas">
      <label for="btn-mas" class="fa fa-plus"></label>
    </div>
  </div>

  <footer>

    <div class="container-footer-all">

      <div class="container-body">
        <div class="colum1">
          <h1>Mas información Sobre Nosotros</h1>
          <p>Somos un emprendimiento el cual se preocupa por la recuperación del planeta, haciendo uso del reciclaje y
            así aprovechando los materiales que las personas tienen en sus hogares, de igual forma aprovechamos la
            maravillosa herramienta llamada tecnología que están tocando nuestras manos. Y afirmando que también con
            ella se puede cambiar el mundo.</p>
        </div>
        <div class="colum2">
          <img src="img/logo.png">
        </div>
      </div>
    </div>
    <div class="container-footer">
      <div class="footer">
        <div class="copyright">
          © 2021 Todos los Derechos Reservados | <a href="">Renobas</a>
        </div>

        <div class="information">
          <a href="" data-toggle="modal" data-target=".bd-example-modal-lg">Términos y Condiciones</a>
        </div>
      </div>
    </div>



    <!-- Modal Terminos y condiciones -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header" style="background-color: #1a4d99;color:#fff;">
            <h5 class="modal-title" id="exampleModalLongTitle">
              Términos y Condiciones</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="x" style="color:#fff;">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="terminos">Esta página web es propiedad y está operando por Renobas. Estos Términos establecen los
              términos y condiciones bajo los cuales tu puedes usar nuestra página web y servicios ofrecidos por
              nosotros. Esta página web ofrece a los visitantes crear recolectas de reciclaje con datos personales para
              poder realizar el proceso de recolecta. Al acceder o usar la página web de nuestro servicio, usted aprueba
              que haya leído, entendido y aceptado estar sujeto a estos Términos:</p>
            <p class="terminos"><strong>¿Cuáles son los requisitos para crear una cuenta?</strong></p>
            <p class="terminos">Para usar nuestra página web y / o recibir nuestros servicios, debes tener al menos [18]
              años de edad, o estar acompañado de alguien con la mayoría de edad legal, poseer voluntad, para participar
              en estos Términos como un acuerdo vinculante.</p>
            <p class="terminos"><strong>Derecho a suspender o cancelar la cuenta de usuario</strong></p>
            <p class="terminos">Puedes descontinuar el uso y solicitar cancelar tu cuenta y / o cualquier servicio en
              cualquier momento.</p>
            <p class="terminos"><strong>Limitación de responsabilidad</strong></p>
            <p class="terminos">En la máxima medida permitida por la ley aplicable, en ningún caso Renobas será
              responsable por daños indirectos, punitivos, incidentales, especiales, consecuentes o ejemplares,
              incluidos, entre otros, daños por pérdida de beneficios, buena voluntad, uso, datos. u otras pérdidas
              intangibles, que surjan de o estén relacionadas con el uso o la imposibilidad de utilizar el servicio.</p>
            <p class="terminos"><strong>Emails de información y noticias</strong></p>
            <p class="terminos">Acepta recibir de vez en cuando nuestros mensajes y materiales de informacón, por correo
              electrónico o cualquier otro formulario de contacto que nos proporciones (incluido tu número de teléfono
              para llamadas o mensajes de texto).</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</main>
<script>
   //Las validaciones JS estan en validaciones.js
   let slider = document.querySelector(".slider-contenedor2")
    let sliderIndividual = document.querySelectorAll(".contenido-slider2")
    let contador = 1;
    let width = sliderIndividual[0].clientWidth;
    let intervalo = 9000;

    window.addEventListener("resize", function(){
        width = sliderIndividual[0].clientWidth;
    })

    setInterval(function(){
        slides();
    },intervalo);
  function slides(){
      slider.style.transform = "translate("+(-width*contador)+"px)";
      slider.style.transition = "transform 1.5s";
      contador++;

      if(contador == sliderIndividual.length){
          setTimeout(function(){
              slider.style.transform = "translate(0px)";
              slider.style.transition = "transform 0s";
              contador=1;
          },1500)
      }
  }
</script>