<script language="JavaScript">
    window.history.replaceState({},'','Inicio');
</script>
<main class="index">
    <header>
        <section class="textos-header">
            <h1>Te Damos la Bienvenida {{user.username}}</h1>
            <h2>Empieza a realizar tus recolectas para cuidar el planeta.</h2>
            <a href="/links" class="btn btn-primary m-4 empieza">Empieza</a>
        </section>
        <div>
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
<defs>
<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
</defs>
<g class="parallax">
<use xlink:href="#gentle-wave" x="48" y="0" fill="rgb(255,255,255,0.7)" />
<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
</g>
</svg>
</div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">¿Como empezar a cambiar el mundo con Nosotros?</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="img/energia.svg" alt="">
                <div class="contenido-textos">
                    <p><span>1</span>Uniéndose con nosotros para no desperdiciar los elementos que pueden ser aprovechables y así evitamos más cambios negativos.</p>
                    <p><span>2</span>Renobas acompaña a las personas con ese proceso de conservación, apoyando el reciclaje que las personas pueden tener a su facilidad.</p>
                    <p><span>3</span>Juntos podemos cambiar de forma positiva el rumbo de nuestro mundo, concentrándonos en los desechos que se pueden reutilizar y reciclar.</p>
                    
                </div>
            </div>
        </section>
        <section class="portafolio">
            <div class="contenedor">
               <h2 class="titulo">Proceso Renobas</h2>
                <div class="contenedor-sobre-nosotros">
                    <div class="contenido-textos">
                        <p>Renobas, recolecta mayor parte de los elementos reciclables que las personas tengan a su disposición y quieran accionar de forma positiva, al desecho de esos elementos.</p>
                        <p><span>@</span>Para tener conocimiento de elementos reciclables puedes encontrarnos en las redes sociales de Instagram y Twitter. Allí hay gran información sobre la preservación del planeta.</p>
                        <p>Suiza ocupa el primer lugar, seguido de Australia, Alemania, Países Bajos y Noruega. Nosotros al ser un país tercermundista también podemos hacer un gran cambio.</p>
                    </div>
                    <img src="img/world.svg" alt="">
                </div>
            </div>
        </section>
        <section class="contenedor sobre-nosotros">
            <div class="contenedor-sobre-nosotros">
                <img src="img/naturaleza.svg" alt="">
                <div class="contenido-textos">
                    <p><span>4</span>Recicla gran cantidad de elementos.</p>
                    <p><span>5</span>Cuando los tengas realiza un pedido con nosotros, mediante la plataforma de Renobas la cual ya estás Registrado.</p>
                    <p><span>6</span>Presiona el botón <strong>"EMPIEZA"</strong> después preciona el botón. <span>¡</span> En la parte inferior Izquierda. Desde Allí realizas tus recolectas.</p>
                    <p>“Puede decir lo avanzada que es una sociedad por la cantidad de basura que recicla” -- Dhyani Ywahoo</p>
                </div>
            </div>
        </section>
        
        <section class="about-services">
            <div class="contenedor">
                <h2 class="titulo">Tu Contacto con nosotros</h2>
                <div class="servicio-cont">
                    <div class="servicio-ind">
                        <img src="img/phone.svg" alt="">
                         <h3>Medio Telefónico</h3>
                        <p>Tienes tu Celular para comunicarte con nosotros mediante WhatsApp, allí te estaremos resolviendo tus dudas.</p>
                       
                    </div>
                    <div class="servicio-ind">
                        <img src="img/plataforma.svg" alt="">
                        <h3>Plataforma</h3>
                        <p>Por acá tú haces las recolectas para que Renobas vaya por ellas, y así creamos una cultura Renobas.</p>
                        
                    </div>
                    <div class="servicio-ind">
                        <img src="img/redes.svg" alt="">
                        <h3>Redes Sociales</h3>
                        <p>Estamos en Instragram y Twitter, alli podras estar informado, y sobre todo estar conciente de lo que estamos haciendo.</p>
                    </div>
                </div>
            </div>
        </section>
        <!--
        <div class="modal fade" id="exampleModalCenterContact" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header"  style="background-color: #1a4d99;color:#fff;">
                      <h5 class="modal-title" id="exampleModalLongTitle">Comunícate con Nosotros</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color:#fff;">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      
                       <form id="form1" class="login2" action="mailto:cultura@renobas.com?subject=INFORMACIÓN SOLICITADA" method="post" enctype="text/plain">
                              <div id="alertSI" class="alert alert-primary alert-dismissible fade show noticia" role="alert">Valídelo en su correo para comunicarse con nosotros.</div>
                              <div id="alertNO" class="alert alert-danger alert-dismissible fade show noticia" role="alert">Complete los datos para enviarlo.</div>
                              <div id="TelMalo" class="alert alert-danger alert-dismissible fade show noticia" role="alert">Revisa tu teléfono.</div>
                              
                              <div class="input-container name">
                                
                                <input id="nombre" type="text" name="Nombre" placeholder="Escribe tu Nombre">
                              </div>

                              <div class="input-container email">
                                
                                <input id="correo" type="text" name="Mail" placeholder="Escribe tu Correo">
                              </div>

                              <div class="input-container phone">
                                
                                <input id="telefono" type="text" name="Telefono" placeholder="Escribe tu Teléfono">
                              </div>
                              <div class="input-container tipo">
                                 <select id="tipo" class="barrio" name="tipo">
                                    <option hidden selected value="" >Selecciona el tipo de mensaje</option>
                                      <option>Petición</option>
                                      <option>Queja</option>
                                      <option>Reclamos</option>
                                      <option>Sugerencias</option>
                                      <option>Felicitaciones</option>
                                      <option>Pregunta</option>
                                  </select>
                              </div>
                             <div class="input-group ContactoMensaje">
                                  
                                      <textarea id="mensaje" name="Comentario" type="text" class="form-control escritos" aria-label="With textarea"></textarea>
                                      <div class="input-group-prepend">
                                      <span class="input-group-text cuentanos">Cuéntanos</span>
                                    </div>
                              </div>
                            <div>
                                  <button type="submit" value="Send" class="btn btn-primary empieza">Enviar</button>
                                  <button type="reset" value="Reset" class="btn btn-secondary empieza">Eliminar</button>

                            </div>
                          </form>
                            
                    </div>
                  </div>
                </div>
              </div>
          -->
    </main>
    <div class="containeRedes">
        <input type="checkbox" id="btn-mas">
        <div class="redes btn-mas">
            <a href="https://wa.link/ryiryy" target="_blank" class="fab fa-whatsapp" title="WhatsApp"></a>
            <a href="mailto:cultura@renobas.com?subject=INFORMACIÓN SOLICITADA" class="fa fa-envelope" title="Email"></a>
             <!--
              <a href="#" class="fa fa-envelope" data-toggle="modal" data-target="#exampleModalCenterContact" title="Escríbenos"></a>
             -->
            <a href="https://twitter.com/Cultura_Renobas" target="_blank" class="fab fa-twitter" title="Twitter"></a>
            <a href="https://instagram.com/cultura_renobas?igshid=1earwux2vc2a6" target="_blank" class="fab fa-instagram" title="Instagram"></a>
        </div>
        <div class="btn-mas">
            <label for="btn-mas" class="fa fa-plus"></label>
        </div>
    </div>
    <footer>
       
       <div class="container-footer-all">
        
            <div class="container-body">
                <div class="colum1">
                  <h1>¿Que haces con Nosotros?</h1>
                   <p>En este momento tú como usuario {{user.username}} estas incluid@ en una comunidad la cual se preocupa por este planeta, estas con nosotros porque piensas que el mundo puede tener un futuro Eco sostenible. Y limpio para futuras generaciones, desde ahora empieza a hacer el cambio desde tu casa y después se verá reflejado en el planeta.</p>
                </div>
                <div class="colum2">
                     <img src="img/logo.png" >
                </div>
                
            </div>
        </div>
        <div class="container-footer">
               <div class="footer">
                    <div class="copyright">
                        © 2021 Todos los Derechos Reservados | <a href="">Renobas</a>
                    </div>
                    <!-- Modal Plastcos 
                    <div class="information">
                        <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos y Condiciones</a>
                    </div>
                    -->
                </div>
            </div>
    </footer>
</main>
<script>
   //Las validaciones JS estan en validaciones.js
</script>

