<!-- Vista Para agregar Recolectas -->
<div class="contact-wrapper animated bounceInUp">
    <div class="contact-form">
        <h3>Realiza tu Recolecta</h3>
        <form action="/links/add" class="fomulario" method="POST" onsubmit="return validar();">
            <p>
                <label>Recolecta</label>
                <select id="title" class="barrio" name="title">
                    <option hidden selected value="">Selecciona el material reciclado</option>
                    <option>Metales</option>
                    <option>Plásticos</option>
                    <option>Papel</option>
                    <option>Tecnológicos</option>
                    <option>Otros Importantes</option>
                    <option>De todo</option>
                </select>
            </p>
            <p>
                <label>¿A nombre de Quién?</label>
                <input id="encargado" type="text" name="encargado" class="encargado" placeholder="Nombre y Apellido">
            </p>
            <p>
                <label>Número telefónico</label>
                <input id="tel" type="text" name="tel" class="tel"
                    placeholder="Telefono o Celular de la persona encargada">
            </p>
            <p>
                <label>Dirección</label>
                <input id="barrio" type="text" name="barrio" class="barrio"
                    placeholder="Dirección exacta de la vivienda recolectada">
            </p>
            <p class="block">
                <label>Materiales/Elementos</label>
                <textarea id="description" class="descrip" name="description" rows="2"
                    placeholder="Escribe los materiales que tienes para la recolección. ejemplo: Botellas plasticas, Aluminio, llantas, aceite, Libros, periocos"></textarea>
            </p>
            <p class="block">
                <button class="botonRecolectas">
                    Recolectar
                </button>
            </p>
        </form>
    </div>
    <div class="contact-info">
        <p><a class="atras" href="/links">No quiero crear Nada</a></p>
        <h4 class="titulo2">Proceso de Creación</h4>
        <ul class="infor">
            <p>Haces un pedido para que vayan a recoger los Elementos que tú reciclaste. Llenando la información que te
                pedimos.</p>
            <p>Puedes hacer tus preguntas por medio de:</p>
            <li><i class="fab fa-whatsapp"></i> +57 3246461388</li>
            <li><i class="fas fa-envelope-open-text"></i> cultura@renobas.com</li>
        </ul>
        <p class="info">Te contactaremos por mensaje, acordamos un día en específico y recolectamos tus materiales.</p>
        <p class="info">!GRACIAS POR HACER PARTE DE LA CULTURA RENOBAS¡</p>


    </div>
</div>
<script>
    function validar() {
        //Aca aprendes. 
        var title, encargado, tel, barrio, description, expresion;
        title = document.getElementById("title").value;
        encargado = document.getElementById("encargado").value;
        tel = document.getElementById("tel").value;
        barrio = document.getElementById("barrio").value;
        description = document.getElementById("description").value;

        if (title === "" || encargado === "" || tel === "" || barrio === "" || description === "") {
            swal.fire({
                title: "FALTAN",
                text: "DATOS POR LLENAR",
                timer: 3000,
                showConfirmButton: false
            })
            return false;
        }
        else if (encargado.length > 30) {
            swal.fire({
                title: "Nombre",
                text: "ES MUY EXTENSO",
                timer: 3000,
                showConfirmButton: false
            })
            return false;
        }
        else if (tel.length > 10 || tel.length < 7) {
            swal.fire({
                title: "Teléfono",
                text: "NO ES VALIDO",
                timer: 3000,
                showConfirmButton: false
            })
            return false;
        }
        else if (isNaN(tel)) {
            swal.fire({
                title: "Teléfono",
                text: "NO ES VALIDO",
                timer: 3000,
                showConfirmButton: false
            })
            return false;
        }
    }
</script>