
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Encode Sans', sans-serif;
}
.contenedor {
  padding: 10.56338028169014vh 0;
  width: 90%;
  max-width: 176.05633802816902vh;
  margin: auto;
  overflow: hidden;
}
.titulo {
  color: #0a0a0a;
  font-size: 4.8vh;
  text-align: center;
  margin-bottom: 10.56338028169014vh;
  
}

/* Header */

header {
  width: 100%;
  height:  91.2vh;
  /* fallback for old browsers */
  background:  url(../img/background2.jpg);
  /* Chrome 10-25, Safari 5.1-6 */
  background:url(../img/tierra.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}


.navbar {
  background: black !important;
  padding: 5.28169014084507vh, 8.80281690140845vh, 0 0;
  font-weight: 96vh;
  text-decoration: none;
}
.nav-link {
  color: #fff !important;
  margin-right: 1.7605633802816902vh;
  text-decoration: none;
  
}
.nav-link:hover{
      transform: scale(1.2);
      transition: all 0.3s ease;
}
.mensaje{
  background-color: #000000;
  max-width: 100%;
  
}

header .textos-header{
  display: flex;
  height: 75.70422535211267vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.textos-header h1{
  font-size: 8vh;
  color:#fff;
}
.textos-header h2{
  font-size: 4.8vh;
  font-weight: 300;
  color:#fff;
}
.waves{
  position: absolute;
  bottom: 0;
  width: 100%;
  height:2vh;
  margin-bottom:-1.232394366197183vh; /*Fix for safari gap*/
  /*Altura de las olas*/
  min-height:10vh;
  max-height:20vh;
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width:135.2112676056338vh) {
  .waves {
    height:7.042253521126761vh;
    min-height:7.042253521126761vh;
  }
  .content {
    height:29.929577464788732vh;
  }
}

/* About us */
main .sobre-nosotros{
  padding: 8.80281690140845vh 0 10.56338028169014vh 0;
}
.contenedor-sobre-nosotros{
  display: flex;
  justify-content: space-evenly;
}
.imagen-about-us{
  background-image: url("../img/inicio.svg");
  width: 38%;
  
  background-size: cover;
}
.sobre-nosotros .contenido-textos{
  width: 48%;
}
.contenido-textos h3{
  margin-bottom: 2.640845070422535vh;
}
.contenido-textos h3 span{
  background: #1a4d99;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width:  5.28169014084507vh;
  height: 5.28169014084507vh;
  padding: 0.352112676056338vh;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  margin-right: 0.8802816901408451vh;
}
.contenedor h2 span{
  background: #1a4d99;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 6.161971830985915vh;
  height: 6.161971830985915vh;
  padding: 0.352112676056338vh;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  margin-right: 0.8802816901408451vh;
}
.contenido-textos p span{
  background: #1a4d99;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 5.28169014084507vh;
  height: 5.28169014084507vh;
  padding: 0.352112676056338vh;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  margin-right: 0.8802816901408451vh;
}

.contenido-textos p{
  padding: 0 0 5.28169014084507vh 2.640845070422535vh;
  font-weight: 300;
  text-align: justify;
}

/* Galeria */
.portafolio{
  background: #f2f2f2;
}


.galeria-port{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen-port{
  width: 24%;
  margin-bottom: 1.7605633802816902vh;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hover-galeria{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: #1a4d99;
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.7;
}
/* 
.hover-galeria img{
  width: 50px;
}
*/
.hover-galeria p{
  color: #fff;
}

.imagen-port:hover .hover-galeria{
  transform: scale(1);
}


/* Clients */
.cards{
  display: flex;
  justify-content: space-evenly;
}

.cards .card{
  background: #1a4d99;
  display: flex;
  width: 46%;
  height: 44.014084507042256vh;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.664);
}

.cards .card img{
  width: 17.6056338028169vh;
  height: 17.6056338028169vh;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
}

.cards .card > .contenido-texto-card{
  width: 65%;
  color: #fff;
}

.cards .card > .contenido-texto-card p{
  font-weight: 300;
  padding-top: 0.8802816901408451vh;
}

.Personaje{
  text-align: right;
}

/*  Our team */

.about-services{
  background: #f2f2f2;
  padding-bottom: 5.28169014084507vh;
}


.servicio-cont{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.servicio-ind{
  width: 28%;
  text-align: center;
}

.servicio-ind img{
  width: 90%;
}

.servicio-ind h3{
  margin: 1.7605633802816902vh 0;
}

.servicio-ind p{
  font-weight: 300;
  text-align: center;
}
.card-body{
  background-color: #22272c;
  color: #ffffff;
  font-weight: 300;
}
.card-title{
  color: #ffffff;
}


@media screen and (max-width:158.45070422535213vh){
  header{
      background-position: center;
  }

  .contenedor-sobre-nosotros{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .sobre-nosotros .contenido-textos{
      width: 90%;
  }

  .imagen-about-us{
      width: 90%;
  }

  /* Galeria */

  .imagen-port{
      width: 40%; 
  }

  .contenido-textos p{
    font-size: 2.4vh;
    text-align: justify;
  }
  .titulo{
    color: #0a0a0a;
    font-size: 4.6vh;
    text-align: center;
    margin-bottom: 10.56338028169014vh;
   
  }
  .contenido-textos h3{
    font-size: 3.2vh;
  }
  
  
  /* Clientes */
  .cards{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .cards .card{
      width: 90%;
  }
  .cards .card:first-child{
      margin-bottom: 5.28169014084507vh;
  }
  .cards .card > .contenido-texto-card p{
    font-size: 2.7vh;
  }
  .Personaje{
    font-size: 3.2vh;
  }
  /* servicios */
  .servicio-cont{
      justify-content: center;
      flex-direction: column;
  }
  .servicio-ind{
      width: 100%;
      text-align: center;
  }
  .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
      margin-bottom: 10.56338028169014vh;
  }
  .servicio-ind img{
      width: 90%;
  }

  .servicio-ind h3{
    font-size: 3.2vh;
  }
  .servicio-ind p{

    font-size: 2.7vh;
  }
  .colum1 p{
    font-size: 2.4vh; ;
   }
   .contenedor-sobre-nosotros img{
    width: 90%;
    margin-bottom: 3.2vh;
  }
  .copy h1, h2{
    font-size: 3.6vh;
  }
  .copy p{
    font-size: 2.7vh;
  }
  .input-container input{
    font-size: 2.0vh;
  }
  
  
  .input-container label{
    font-size: 2.4vh;
  }
  .contact-form h3{
    font-size: 2.4vh;
  }
  .fomulario label{
    font-size: 2.4vh;
    
  }
  .copy p{
    font-size: 2.4vh;
  }
 .empieza{
  font-size: 2.4vh;
 }
 .titulo{
  font-size: 3.6vh;
 
 }
 .card-body p{
  font-size: 2.2vh;
 }

 
 .borrar,
 .editar{
  font-size: 2.2vh;
 }
 .Infomar h3{
  font-size: 3.6vh;
 }
 .Infomar{
  font-size: 3.2vh;
  font-weight: 300;
  
 }
 .Infomar img{
   width: 110%;
 }
 .una{
  font-size: 1.5vh;
 }
 .infor{
  font-size: 2.2vh;
 }
 .titulo2{
  font-size: 2.6vh;
 }
 .atras{
  font-size: 2.2vh;
 }
 .barrio{
  font-size: 2.0vh;
 }
 .encargado{
  font-size: 2.0vh;
 }
 .tel{
  font-size: 2.0vh;
 }
 .descrip{
  font-size: 2.0vh;
  
 }
 .info{
  font-size: 2.0vh;
 }
 
 .fomulario label{
  font-size: 2.2vh;
  
 }
 .recolecta{
  font-size: 2.2vh;
 }
 .card-title{
  color: #ffffff;
}
.titulo1 {
  font-size: 4.8vh;
  text-align: center;
 
}
.mensaje{
    font-size: 2.0vh;
}
.letraModal,
.modal-title,
.x{
  font-size: 2.5vh;
  margin-right: auto;
  margin-left: auto;
}

.dropdown-menu,
.ti,
.nav-link {
  font-size: 2.5vh;
}

.popover{
  max-width: 90%; /* Max Width of the popover (depending on the container!) */
  font-size: 2.5vh;
  background-color:#b9d1f0;
}
.escritos,
.cuentanos,
.noticia{
  font-size: 2.5vh;
}


}
@media screen and (max-width:144vh){
  nav{
      text-align: center;
      padding: 5.28169014084507vh 0 0 0;
      
  }
  

  nav > a{
      margin-right: 0.8802816901408451vh;
      
     
  }

  .textos-header h1{
      font-size: 6.161971830985915vh;
  }

  .textos-header h2{
      font-size: 3.5211267605633805vh;
  }

  /* ABOUT US */

  .imagen-about-us{
      margin-bottom: 10.56338028169014vh;
      width: 99%;
  }

  .sobre-nosotros .contenido-textos{
      width: 95%;
  }

  /* Galeria */

  .imagen-port{
      width: 30%;
  }

  .cards{
    width: 100%;
    height: 10%;
  }
  /* Clients */
  .cards .card{
      height: 79.22535211267606vh;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .cards .card img{
      width: 15.845070422535212vh;
      height: 15.845070422535212vh;
  }
}


  /* Login */

.i{
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-div > div{
  position: relative;
  height: 7.922535211267606vh;
}


.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
  border-bottom:1px solid #fff;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: rgb(255, 255, 255);
  text-align: center;
}

.btnLogin{
	display: block;
	width: 100%;
	height:  8vh;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #1D53A1, #0C63E0, #003E98);
	background-size: 200%;
	font-size: 2.7vh;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}


.btnLogin:hover{
	background-position: right;
}

@media screen and (max-width: 184.85915492957747vh){
	.container2{
		grid-template-columns: 1fr;
	}
}
@media screen and (max-width: 176.05633802816902vh){
	.container2{
		grid-template-columns: 1fr;
	}
  .login-content{
		justify-content: center;
	}
}

@media screen and (max-width:158.45070422535213vh){
	.container2{
		grid-template-columns: 1fr;
	}

}

 /* Modal */

.elemtosNota{
  color:rgb(0, 88, 160);
}
.terminos{
  color: #000000;
}

/* Formulario de recolecta*/
.infor{
  list-style: none;
  padding: 0;
  color: rgb(255, 255, 255);
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(0, 87, 158, 0.932);
  

}


.contact-form {
  background: #ffffff;


}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
 
}


.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form .btn-group{
  width:100%;
  padding: .7em;
  
  
}
.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid #0C63E0;
}

.barrio{
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid #0C63E0;
}

.contact-form form button {
  display: block;
	width: 100%;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #1D53A1, #0C63E0, #003E98);
	background-size: 200%;
	font-size: 2.7vh;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	cursor: pointer;
	transition: .5s;
}
.contact-form form button:hover,
.contact-form form button:focus {
  background-position: right;
}
/* CONTACT INFO */
.contact-info {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 2.640845070422535vh 2.640845070422535vh 2.640845070422535vh 2.640845070422535vh;
}

.contact-info h4, .contact-info ul, .contact-info p{
  text-align: center;
  margin: 0 0 1rem 0;
  
}

/* LARGE SIZE */
@media(min-width: 158.45070422535213vh) {
  .contact-wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
      padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
      text-align: center;
  }
}
/* Scroll*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #1a4d99;
  border: 0px none #000000;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background:#29518aec;
 
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 88, 189, 0.911);
}
::-webkit-scrollbar-track {
  background: #000000;
  border: 0px none #000000;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #000000;
}
::-webkit-scrollbar-track:active {
  background: #000000;
}
::-webkit-scrollbar-corner {
  background: transparent;
}



/* Footer */
footer{
  width: 100%;
  background: #000000;
  color: white;   
  margin: 0px;
  padding: 0px;
  
}
.container-footer-all{
  width: 100%;
  max-width: 192vh;
  margin: auto;
  padding: 6.4vh;
}

.container-body{
  display: flex;
  justify-content: space-between;
}

.colum1{
  max-width: 96vh;
}
.colum1 h1{
  font-size: 3.52vh;
  text-align: center;
  padding-bottom: 4%;
}
.colum1 p{
  text-align: justify;
}

.colum2{
  max-width: 96vh;
}

.colum2 img{
  width: 200px;
  height: 200px;
  margin-left:150px;
  margin-right:150px;
}


.container-footer{
  width: 100%;  
  background: #101010;
}

.footer{
  max-width: 211.26760563380282vh;
  margin: auto;
  display: flex;
  justify-content: space-between;  
  padding: 3.5211267605633805vh;
}

.copyright{
  color: #C7C7C7;
}

.copyright a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a{
  text-decoration: none;
  color: #C7C7C7;
}


@media screen and (max-width:158.45070422535213vh){

  .contact-form h3 {
    padding-top:2.640845070422535vh;
    padding-left: 2.640845070422535vh;
  }
  
  .container-body{
      flex-wrap: wrap;
  }
    
  .colum1{
      max-width: 100%;
  }
  .colum2{
    max-width: 100%;
}
.colum2 img{
  width: 26.408450704225352vh;
  height: 26.408450704225352vh;
}

  
}
.boton_personalizado{
  font-size:  2.56vh; /* Cambiar el tamaño de la tipografia */
  font-weight: bold; /* Fuente en negrita o bold */
  background-color: #1a4d99; /* Color de fondo */
  color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
  padding: 10px 16px; /* Relleno del boton */
}
.boton_personalizado:hover {
	background-color: #072d68; 
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
  text-decoration: none;
  cursor: pointer;
  
}
/* Boton de ayuda */

.btn-flotante {
	font-size: 2.56vh; 
	text-transform: uppercase; 
	font-weight: bold; 
	color: #ffffff;
	border-radius: 5px; 
	letter-spacing: 0.32vh;
	background-color: #1a4d99; 
	padding: 3.1690140845070425vh 3.5211267605633805vh; 
	position: fixed;
	bottom:7.042253521126761vh;
	right: 7.042253521126761vh;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
  text-decoration: none;
}
.btn-flotante:hover {
	background-color: #fafcff; 
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
  text-decoration: none;
}
@media only screen and (max-width: 105.63380281690141vh) {
 	.btn-flotante {
		font-size: 2.464788732394366vh;
		padding: 2.112676056338028vh 3.5211267605633805vh;
		bottom: 3.5211267605633805vh;
		right: 3.5211267605633805vh;
	}
}
/* Registro y Login*/
.split-screen{
  display: flex;
  flex-direction: column;
}
.left{
  height: 35.2112676056338vh;
}
.left, .right{
  display: flex;
  justify-content: center;
  align-items: center;
}

.left{
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,
  0.5)), url('../img/medellin.jpg');
  background-size: cover;
}

.left .copy {
  color: white;
  text-align: center;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;

}
.left p{
  font-weight: 400;
}

.right .copy{
  color: black;
  text-align: center;
  margin: 1.0em 0;

}

.right .copy p {
  margin: 1.5em 0;
  font-size: 0.90rem;
}

.right form{
  width: 52.48vh;

}

.login2 input[type="text"], 
.login2 input[type="password"], 
.login2 input[type="email"] {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid #0C63E0;
  margin-bottom: 1.25rem;
}

label{
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.input-container.password {
  position: relative;
}
.input-container.password i{
  position: absolute;
  top: 6.72vh;
  right: 2.56vh;

}

.checkbox-container input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  user-select: none;
  margin: 0 0 1.25rem 0;
}
.checkbox-container input:checked~.checkmark {
  background-color: var(--primary-blue);
  border: 0.16vh solid var(--primary-blue);
}

.checkmark{
  position: absolute;
  width: 3.84vh;
  height: 3.84vh;
  background:rgb(0, 88, 204);
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  top:-0.64vh;
  left:0;
  border-radius: 50%;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkbox-container input:checked~.checkmark:after {
  display: block;
}
.checkbox-container .checkmark:after{
  border: solid rgb(0, 81, 255);
  border-width: 0 0.48vh 0.48vh 0;
  width: 0.8vh;
  height:  1.6vh;
  left: 1.28vh;
  top: 0.64vh;
  transform: rotate(45deg);
}

@media screen and (min-width: 158.45070422535213vh){
  .split-screen{
    flex-direction: row;
    height: 100vh;
   
  }
  
  .left,
  .right{
    display: flex;
    width: 50%;
    height: auto;
  }
  
}
/* Redes */
#btn-mas{
  display: none;
}


.containeRedes{
  position: fixed;
  bottom: 3.5211267605633805vh;
  right: 3.5211267605633805vh;
}
.redes a, .btn-mas label{
  display: block;
  text-decoration: none;
  background: #065096;
  color: #fff;
  width: 9.683098591549296vh;
  height: 9.683098591549296vh;
  line-height: 9.683098591549296vh;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
  transition: all 500ms ease;
}
.redes a:hover{
  background: #fff;
  color: #0C63E0;
}
.redes a{
  margin-bottom:-2.640845070422535vh;
  opacity: 0;
  visibility: hidden;
}
#btn-mas:checked~ .redes a{
  margin-bottom: 1.7605633802816902vh;
  opacity: 1;
  visibility: visible;
}
.btn-mas label{
  cursor: pointer;
  background: #1a4d99;
  font-size: 4.049295774647887vh;
}
.btn-mas a{
  cursor: pointer;
  background: #1a4d99;
  font-size: 4.049295774647887vh;
}
#btn-mas:checked ~ .btn-mas label{
  transform: rotate(360deg);
  font-size: 4.401408450704225vh;
}
/* Redes */

/* Ayuda */
.redes .Infomar{
  display: none;
  opacity: 0;
  text-decoration: none;
  background: #1a4d99;
  color: #fff;
  width: 52.816901408450704vh;
  height: 70.4225352112676vh;
  line-height: 5.28169014084507vh;
  text-align: center;
  border-radius: 3%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  padding: 1.7605633802816902vh;
  
  
}

.containeInfo{
  position: fixed;
  bottom: 3.5211267605633805vh;
  left: 3.5211267605633805vh;
  display: block;
  z-index: 99;

}
.redes .Infomar{
  margin-bottom: -2.640845070422535vh;
  display: none;
  visibility: hidden;
  opacity: 0;
 
  
}
#btn-mas:checked~ .redes .Infomar{
  margin-bottom: 1.7605633802816902vh;
  opacity: 1;
  visibility: visible;
  display: block;

}


/* Ayuda */

.ContactoMensaje{
  padding-top: 1.6vh;
  padding-bottom: 1.6vh;
}

.input-group-text{
  background-color: #1a4d99;
  color: #fff;
}

.atras{
  color: #0c8be0;
}
.atras:hover{
  transform: scale(1.2);
  transition: all 0.3s ease;
  text-decoration: none;
  color: #e00c0c;
}

.targeta{
  width: 65vh;
  height: 43vh;
}

.video{
  display: flex;
  justify-content: center;
}


.but{
  font-size: 45px;
}

/*Slider */
.contenedor2{
  width: 100%;
  overflow: hidden;
  max-width: 100%;
}

.slider-contenedor2{
  width: 100%;
  display: flex;

}
.contenido-slider2{
  width: 100%;
  height: 102.8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}


.contenido-slider2:nth-child(2){
  background: #1a4d99;
  color: rgb(255, 255, 255);
}


.contenido-slider2:nth-child(4){
  background: #1a4d99  ;
  color: #fff;
}

.contenido-slider2 > img{
  width: 64vh;
}

.contenido-slider2 > div{
  width: 40%;
}

.contenido-slider2 h2{
  font-weight: 200;
  text-align: justify;
  line-height: 4.8vh;
}

.contenido-slider2 a{
  color: #fff;
  background: #22272c;
  width: 16vh;
  display: block;
  padding: 2.4vh 0;
  text-align: center;
  border-radius: 0.48vh;
  margin-top: 3.2vh;
  text-decoration: none;
}


@media screen and (max-width:105.63380281690141vh){
  .contenido-slider2 > img{
      width: 30vh;
  }

  .contenido-slider2 > div{
      width: 40%;
  }

  .contenido-slider2 h2{
      font-size: 3.68vh;
  }
}
  

@media screen and (max-width:105.63380281690141vh){
  .contenido-slider2{
     flex-direction: column-reverse;
  }

  .contenido-slider2 > div{
      width: 80%;
  }
  .titulosSliders{
    font-size: 3.68vh;
  }

}

.sliderleft, .slideright { 
  width: 40%; 
  margin:5px; 
  padding: 1em;
} 

.sliderleftleft{ float:left;  }
.slideright { float:right; } 

/*Slider */

